<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="app" class="container">
        <h1>{{titulo}}</h1>
        
        <input type="text" v-model="nuevafruta" v-on:keyup.enter="agregarfruta">
        <button v-on:click="agregarfruta">Presiona aqui</button>
        
        <ul>
            <li v-for="fruta of frutas">
                <input type="number" v-model.number="fruta.cantidad">
                <span>{{fruta.nombre}}</span>
                <button @click="fruta.cantidad++">+</button>
                <span v-if="fruta.cantidad === 0">-Sin stock</span>
            </li>
        </ul>
        <h4>TOTAL: {{sumarfrutas}}</h4>
        <div class="card">
            <div class="card-body">
                {{frutas}}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>